<div class="border mb-5 text-sm post-card">
    <div class="bg-white p-3">
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <div>
                <p class="font-bold">{{ post.user.name }}</p>
                {% if post.location %}
                    <span>{{ post.location }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <a href="{{ path('post_show', { 'id': post.id }) }}">
        <img src="{{ post.picture }}" alt="Photo par {{ post.user.fullName }}" class="post" />
    </a>

    <div class="bg-white">
        <div class="flex items-center px-3 pt-3">
            {% if app.user %}
                <a href="{{ path('post_like', { 'id': post.id }) }}" class="mr-2 block btn-like focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="{{ post.isLikedByUser(app.user) ? 'currentColor' : 'none' }}" viewBox="0 0 24 24" stroke="currentColor" class="w-7{{ post.isLikedByUser(app.user) ? ' text-red-500' : '' }}">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </a>
            {% endif %}
            <p class="font-medium">
                <span class="post-likes">
                    {{ post.likes|length }}
                    {{ post.likes|length > 1 ? 'likes' : 'like' }}
                </span>
                &bull;
                <span class="comment-likes">
                    {{ post.comments|length }}
                    {{ post.comments|length > 1 ? 'commentaires' : 'commentaire' }}
                </span>
            </p>
        </div>
        {% if post.description %}
        <div class="flex px-3">
            <p class="font-medium mr-2">{{ post.user.name }}</p>
            <p>{{ post.description }}</p>
        </div>
        {% endif %}
        <hr class="comment-separator my-2{{ post.comments|length < 1 ?  ' hidden' : '' }}">
        <div class="comments-list">
            {% if post.comments|length > 0 %}
                {% for comment in post.comments|slice(0, 5) %}
                    <div class="flex px-3">
                        <p class="font-medium mr-2">{{ comment.user.name }}</p>
                        <p>{{ comment.comment }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <form action="{{ path('post_comment', { 'id': post.id }) }}" method="POST" class="form-comment border-t mt-2 py-4 px-3 flex items-center justify-between">
            <textarea placeholder="Votre commentaire" class="resize-none focus:outline-none w-full h-5 max-h-10 overflow-hidden mr-5" name="comment" oninput="autoGrow(this)" required></textarea>
            <input type="hidden" name="token" value="{{ csrf_token('form-comment') }}" required />
            <input type="hidden" name="username" value="{{ app.user.name }}" />
            <input type="hidden" name="post-id" value="{{ post.id }}" />
            <button type="submit" class="font-bold text-blue-400">Envoyer</button>
        </form>
    </div>
</div>