{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="main-container py-5">
    <div class="posts grid grid-cols-6 items-center mb-10">
        <div class="col-span-2 avatar mr-5 flex justify-center">
            <a href="{{ path('avatar_edit') }}">
                <img class="rounded-full border border-gray-100 shadow-sm" src="{% if user.avatar %}{{ asset('uploads/posts/' ~ user.avatar) }}{% else %}http://placehold.it/100x100{% endif %}" alt="avatar de {{ user.fullName }}">
            </a>
        </div>
        <div class="col-span-4 personal-infos">
            <div class="flex items-center justify-left mb-4">
                <div class="text-2xl font-thin">{{ user.name }}</div>
                <a href="{{ path('profile_edit') }}" class="ml-8 mr-4 flex items-align transition duration-300 border-2 ease-in-out hover:bg-gray-200 transform rounded-lg px-2 py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                    Profil
                </a>
                <a href="{{ path('password_edit') }}" class="flex items-align transition duration-300 border-2 ease-in-out hover:bg-gray-200 transform rounded-lg px-2 py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                    Mot de passe
                </a>
            
            </div>
            <div class="flex">
                <div class="posts mr-8">
                    <strong>{{ user.posts | length }}</strong> publication{% if user.posts | length > 0 %}s{% endif %}
                </div>
                <div class="likes">
                    <strong>{{ user.likes | length }}</strong> publications aimée{% if user.likes | length > 0 %}s{% endif %}
                </div>

            </div>
        </div>
    </div>
    <div class="border-t-2 pb-5" x-data="{ selected: 'option-1' }">
        <nav class="flex justify-center">
            <ul class="flex text-gray-400">
                <li class="px-10 pt-4" :class="{ 'text-black border-t-2 border-gray-200': selected === 'option-1' }">
                    <a href="#option-1" @click="selected = 'option-1'" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 mr-1">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                        </svg>
                        <span>PUBLICATIONS</span>
                    </a>
                </li>
                <li class="px-4 pt-4" :class="{ 'text-black border-t-2 border-gray-200': selected === 'option-2' }">
                    <a href="#option-2" @click="selected = 'option-2'" class="flex">
                         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 mr-1">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                        <span>PUBLICATIONS AIMÉE</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div x-show.transition.in.opacity.duration.300ms="selected === 'option-1'" class="pt-6 flex justify-center">
            {% if user.posts | length == 0 %}
                <div class="text-center">
                    Vous n'avez aucune publication. <a href="#" class="text-blue-600 hover:text-blue-400">Publiez-en une !</a>
                </div>
            {% else %}
            <div class="grid grid-cols-3 gap-6">
                {% for post in user.posts %}
                    <img class="picture-post" src="{{ post.picture }}" alt="">
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div x-show.transition.in.opacity.duration.300ms="selected === 'option-2'" class="pt-6 justify-center">
           {% if user.likes | length == 0 %}
                <div class="text-center">
                    Vous n'avez aimé aucune publication.
                </div>
            {% else %}
                <div class="grid grid-cols-3 gap-6">
                    {% for like in user.likes %}
                        <img class="picture-post" src="{{ like.post.picture }}" alt="">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
  </div>    
</div>
{% endblock %}
